.wrapper {
  font-size: 12px;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1800px) {
  .wrapper {
    max-width: 70%;
  }
}
.head {
  background: #c2c2c2;
  height: 28px;
  line-height: 28px;
  color: black;
  font-family: "Times New Roman",Times,serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}


.loto-title {
  background-color: #CCCCCC;
  text-align: center;
}
.loto-center {
  background-color: #EFEFEF;
  max-width: 70px;
}
.wrapper-item {
  border-radius: 5px;
  overflow: hidden;
}
.wrapper-item tr {
  display: flex;
}
.wrapper-item tr td {
  flex: 1;
  text-align: center;
}
.wrapper-item td {
  border-style: solid;
  border-width: 1px;
  height: auto;
  font-weight: 500;
}