.menu-container {
    width: 100%;
    background: #f8f8f8;
    padding: 2px 0;
}

.arowTop {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.164);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: #f8f8f8;
}

.logo {
    max-width: 168px;
}

.navMenu-container {
    padding: 0px 10px;
    margin: 0 auto;
    gap: 0 50px;
    align-items: center;
    justify-content: center;

}

.menu-warpper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 100px;
    gap: 0 30px !important;
}

.navbar-item {
    background: 0 0;
    padding: 0;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-align: unset;
    text-transform: uppercase;
    align-items: center !important;
    display: flex !important;
}

.headerLink {
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.headerLink-icon {
    height: 21px;
    width: auto;
    fill: #fff;
}

.hover_line {
    border-bottom: 3px solid #20fb84;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
}

.m-0 {
    margin-bottom: 0px !important;
}

.menu_bottom_item {
    display: block;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    font-weight: 700;
    position: relative;
}

.menu_bottom_item_active {
    color: #fff;
}

.menu-toggle {
    display: none;
    position: relative;
    color: #888;
}

.menu-toggle-show {
    position: absolute;
    top: 100%;
    left: -650%;
    background-color: #888;;
    color: #000;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 999;
    width: 170px;
    display: flex;
    flex-direction: column;
}

.menu-toggle-hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .menu-toggle {
        display: block;
    }

    .menu-warpper {
        display: none;
    }

    .menu-container {
        padding: 0 20px;
    }

    .navMenu-container {
        justify-content: space-between;
    }

    .menu-container {
        width: 100%;
        background: #f8f8f8;
        height: 100% !important;
    }

    .navMenu-container {
        padding: 0px 0px !important;
        margin: 0 auto;
        display: flex;
        max-width: 1200px;
        font-size: 10px !important;
        color: #fff;
        gap: 0 0px !important;
        align-items: center;
    }

    .menu-warpper {
        width: 100% !important;
        justify-content: flex-start !important;
        gap: 0 0px !important;
    }

    .menu_bottom_item {
        padding: 10px;
        font-size: 10px !important;
        line-height: 100%;
        font-weight: 700;
    }

}

@media screen and (max-width: 1000px) {
    .menu-warpper {
        gap: 0 10px !important;
    }

    .menu-container {
        width: 100%;
        background: #f8f8f8;
        height: 100% !important;
    }

    .navMenu-container {
        padding: 0px 0px !important;
        margin: 0 auto;
        display: flex;
        max-width: 1200px;
        font-size: 7px !important;
        color: #fff;
        gap: 0 5px !important;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .menu-container {
        width: 100%;
        background: #f8f8f8;
        height: 100% !important;
        border-bottom: 1px solid #888;
        padding: 10px;
    }
}