.wrapper {
  padding: 10px 5px;
}
.title {
  text-transform: uppercase;
  size: 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.content img {
  width: 100%;
}
.content h2 {
  font-size: 15px;
  font-weight: bold;
}
.day {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
}