.page-wrapper {
    min-height: 386px;
    border-left: 1px solid #e7e7e7
}

.container {
    padding: 10px;
}

.container h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.example-wrapper {
    position: relative;
    clear: both;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-6-left {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-sm-6-right {
    padding-right: 15px;
    padding-left: 15px
}

.dataTables-filter {
    text-align: right;
}

.dataTables-filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.input-sm {
    margin-left: 0.5em;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input-sm:focus {
    border-color: #66afe9;
    outline: 0;
}

.container-table {
    text-align: left;
}

.container-dream {
    display: flex;
    padding-top: 10px;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h1 {
    background: url(https://www.xoso88.info/style/favicon/android-icon-36x36.png) top left no-repeat;
    padding-left: 38px;
    font-size: 22px;
}

.post-dream {
    width: 70%;
}

.section-content {
    width: 100%;
    position: relative;
}

.article-list {
    width: 100%;
    position: relative;
    padding: 0px 16px 0px 0px;
    border-bottom: solid 1px #e0e0e0;
    float: left;
}

.image {
    width: 100%;
    height: 100%;
}

.article-summary {
    font-weight: 400;
    font-size: 16px;
}

.article-title-first-news {
    font-size: 22px !important;
}

.article-title {
    font-size: 16px;
}

.thumb-item {
    width: 200px;
    height: 112px;
    float: left;
    margin-right: 12px;
    position: relative;
    overflow: hidden;
}

.article-summary {
    color: #000;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.image-lazy {
    width: 100%;
    float: left;
    object-fit: cover;
}

.load-more {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 15px;
}

.more {
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 25px;
    background: #BB2649;
}

.section {
    width: 100%;
}

.table-dream {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .col-sm-6-left {
        display: none;
    }

    .col-sm-6-right {
        width: 100%;
    }
}

@media screen and (max-width: 786px) {
    .container-dream {
        display: block !important;
    }
    .table-dream {
        width: 100% !important;
    }
    .post-dream {
        width: 100% !important;
    }
    .article-list {
        padding: 16px ;
    }
    .container {
        padding: 0px;
    }
}