.page-wrapper {
    padding: 5px;
    position: inherit;
    border-left: 1px solid #e7e7e7;
    background-color: #fff;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.choose {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }
.panel-default {
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h1 {
    background: url(https://www.xoso88.info/style/favicon/android-icon-36x36.png) top left no-repeat;
    padding-left: 38px;
    font-size: 22px;
}

.panel-body {
    padding: 5px;
}

.form-group-form-inline {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group-form-inline-check {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.table {
    width: 100%;
}

.btn-btn-default {
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px
}

.btn-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.title-bar-box {
    text-align: left;
}

.container-bottom {
    padding: 5px;
    overflow: scroll;
}

.container-item-box {
    font-size: 15px;
    cursor: pointer;
    padding-left: 20px;
    line-height: 24px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
}

.pair-of-number {
    color: #0000CC;
    font-weight: bold;
}

.pair-of-number-title {
    font-size: 12px;
}

.content-date {
    border: 1px solid #ff6600;
    padding: 10px;
    margin-bottom: 10px;
}

.title-bar-box-show {
    font-size: 15px;
    cursor: pointer;
    padding-left: 20px;
    line-height: 24px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
}

.detail {
    margin-top: 20px;
    line-height: 20px;
}

.detail-title {
    font-size: 16px;
    font-weight: bold;
}

.detail-total-title {
    font-size: 16px;
    font-weight: bold;
}

.table-content {
    border-color: #999999;
    border-collapse: collapse;
}

.table-content-item {
    background-color: #f5f5f5;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

.table-item {
    text-align: center;
}

.max-date {
    background-color: #f5f5f5;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
}

.table-report {
    border-collapse: collapse;
    overflow: scroll;
}

.max-date-item {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.content-number-item {
    padding: 4px;
    font-weight: bold;
}

.width-column {
    width: 40px;
    border: 1px solid #fff;
}

.table-th {
    width: 40px;
    text-align: left;
}

.column-item {
    color: #000000;
    width: 40px;
    height: 100%;
    line-height: 38px;
    font-weight: bold;
}

.div-item {
    color: blue;
    background-color: gray;
    width: 40px;
    height: 100%;
    line-height: 38px;
    font-weight: bold;
}

.data-item-number {
    width: 40px;
    float: left;
    height: 40px;
}

.data-item-link {
    margin-top: 15px;
    line-height: 30px;
}

.data-item-href {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #337ab7;
    text-decoration: none;
}

.container-table-total {
    width: 100%;
    height: 500px;
    overflow: scroll;
}

.date-number {
    padding: 4px;
    font-weight: bold;
}

.able-content-title {
    padding: 4px;
    font-weight: bold;
    width: 100px;
}

.table-content-title-time {
    padding: 4px;
    font-weight: bold;
    width: 100px;
}

.content-number-item {
    padding: 4px;
    font-weight: bold;
}

.content-number-item-red {
    padding: 4px;
    font-weight: bold;
    color: red;
}

.content-number-item-item {
    font-size: 13px;
    padding-left: 40px;
}

.content-number-bold {
    font-weight: bold;
}

.container-bottom-name {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-bordered-item {
    color: blue;
    background-color: #CCCCCC;
}

.table-bordered-item-color {
    color: blue;
    font-weight: bold;
    background-color: #FFFFFF;
}

.border-bottom-width {
    border-bottom-width: 2px;
}

.table-total-date {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-bordered-item-blue {
    color: blue;
    font-weight: bold;
    background-color: #FFFFFF;
}

.table-bordered {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-bordered tr th {
    background-color: #f9f9f9;
}

.table-bordered tbody tr td {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    width: 60px;
    min-width: 60px
}
.table-bordered tbody tr td:first-child {
    width: 80px;
    min-width: 80px
}
.form-label {
    position: relative;
    top: -2px;
}

.container-triangular {
    margin-top: 15px;
    text-align: center;
}

.triangular-title {
    height: 25px;
    font-weight: bold;
}

.title-bar-box-content {
    width: 180px;
    float: left;
    line-height: 25px;
    font-size: 14px;
    margin-left: 50px;
}

.clb {
    clear: both;
}

.table-bordered-full {
    width: 100px;
}

.botop {
    font-size: 13px;
}

.botop-title {
    font-size: 13px;
    font-weight: bold;

}

.botop-title-text {
    font-size: 16px
}

.botop-title-text-16 {
    font-size: 16px;
}

.table {
    width: 100%;
}

@media screen and (max-width: 380px) {
    .form-control {
        width: 138px !important;
    }
    .item-select .form-control{
        width: auto !important;
    }
}

@media screen and (max-width: 460px) {
    .form-control {
        width: 170px;
    }

    .item-select{
        width: 100%;
        display: block;
    }
    .item-select .form-control{
        width: auto;
    }
}