.page-wrapper{
    padding: 5px;
    position: inherit;
    border-left: 1px solid #e7e7e7;
    background-color: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.panel-default{
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading h1{
    background: url(https://www.xoso88.info/style/favicon/android-icon-36x36.png) top left no-repeat;
    padding-left: 38px;
    font-size: 22px;
}

.panel-body {
    padding: 5px;
}

.form-group-form-inline{
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.table{ 
    width: 100%;
}

.btn-btn-default{
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px
}

.btn-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.title-bar-box{
    text-align: left;
}