.container {
    padding: 15px;
}

.title {
    width: 100%;
    color: #333;
    font-size: 25px;
    line-height: 20px;
    margin: 10px 0;
    text-align: left;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.content-item {
    margin-top: 15px;
}

.link {
    color: #337ab7 !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.content-privacy-policy {
    margin: 0px 0px 2px;
    font-stretch: normal;
    font-size: 17px;
    font-family: 'Helvetica Neue'
}

.content-item-content {
    font-size: 15px;
}

.content-item-content-add {
    margin: 0px;
    text-align: justify;
    font-stretch: normal;
    font-size: 13px;
    font-family: 'Helvetica Neue';
    min-height: 15px
}

.content-item-end {
    margin: 0px;
    font-stretch: normal;
    line-height: normal
}

.title {
    width: 100%;
    color: #333;
    font-size: 25px;
    line-height: 20px;
    margin: 10px 0;
    text-align: left;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.content-item-end-font{
    font-size: 15px;
}