.wrapper {
  padding: 0 10px;
}
.wrapper table {
  overflow: scroll;
  width: 100%;
}
.title {
  text-transform: uppercase;
  size: 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.choose {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.head {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}
.wrapper td {
  border: 1px solid #ddd;
  padding: 8px;
}
.wrapper tr:nth-child(odd) {
  background-color: #F5F5F5;
}
.wrap-table {
  display: flex;
  gap: 15px;
}
@media (max-width: 800px) {
  .wrap-table {
    flex-wrap: wrap;
  }
}