.wrapper {
  padding: 0 10px;
}
.wrapper table {
  overflow: scroll;
  width: 100%;
}
.choose {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.choose input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  outline: none;
}
.title {
  text-transform: uppercase;
  size: 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.head th {
  font-weight: bold;
  line-height: 15px;
  /* background-color: #F5F5F5; */
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  /* border: 1px solid #ddd; */
  background-color: #c2c2c2;
  border: 1px solid #aeabab;
}
.wrapper td {
  text-align: center;
  padding: 3px 10px;
  /* border: 1px solid #ddd; */
  border: 1px solid #aeabab;
}
.text1 {
  font-weight: bold;
  line-height: 15px;
  color: #009933;
}
.text2 {
  font-weight: bold;
  line-height: 15px;
  color: #FF0000;
}
.text3 {
  font-weight: bold;
  line-height: 15px;
  color: #0a84c1;
}
.text4 {
  font-size: 10px;
  color: #666666;
  font-weight: normal;
}