.wrapper {
  padding: 0 10px;
}
.wrapper table {
  overflow: scroll;
  width: 100%;
}
.choose {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.title {
  text-transform: uppercase;
  size: 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.head th {
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  /* border: 1px solid #ddd; */
  border: 1px solid #aeabab;
  background-color: #c2c2c2;
}
.wrapper td {
  font-weight: bold; 
  color: #000000;
  cursor: pointer;
  text-align: center;
  /* border: 1px solid #ddd; */
  border: 1px solid #aeabab;

}
.day {
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  display: block;
  white-space: nowrap;
}
.wrapper tr:nth-child(odd) {
  background-color: #F5F5F5;
}
