.wrapper {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
.title {
  text-transform: uppercase;
  size: 18px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.tab_select {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin: 10px 0px;
  flex-wrap: wrap;

}
.tab_select li {
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  padding: 9px 8px;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .tab_select li {
    font-size: 10px;
    padding: 4px 5px;
  }
}